div.menu
	ul.list
		li.item
			span.toggle-nav
		li.item
			a.toggle-search( href='/search')
		li.item.vision-wheel
			a.logo( href="/" )
		li.item
			a.toggle-locations( href="/locations" )
		li.item
			a.toggle-cart( href="/checkout" )