doctype html
html
	head
		include ../components/analytics/head
		meta( charset="UTF-8" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" )
		title Vision Wheel | Dealers
		meta( name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" )
		meta( name="version" content="0.0.0.9")
		if styles
			each style in styles
				link( href=style rel="stylesheet" type="text/css" )
		block styles
	body
		include ../components/analytics/body
		div#wrapper
			header.primary
				include ../components/header/user
				include ../components/header/menu
				include ../components/header/nav
			div#main
				block main
			div#overlay
			footer
				include ../components/footer/links
				include ../components/footer/social
				include ../components/footer/legal
		if scripts
			each script in scripts
				script( src=script )
		block scripts