$fw-light:					200;
$fw-normal:					400;
$fw-medium:					600;
$fw-bold:						800;

$ff-roboto-regular:	"Roboto", sans-serif;
$ff-rubik-regular:	"Rubik", sans-serif;
$ff-rubik-medium:		"Rubik Medium", sans-serif;

$ff-headline:				$ff-rubik-medium;
$ff-title:					$ff-rubik-medium;
$ff-subheading:			$ff-rubik-regular;
$ff-body:						$ff-roboto-regular;
$ff-caption:				$ff-roboto-regular;
$ff-input:					$ff-roboto-regular;
$ff-button:					$ff-rubik-medium;

$fs-headline:				1.5rem;
$fs-title:					1.125rem;
$fs-subheading:			0.875rem;
$fs-body:						0.75rem;
$fs-caption:				0.6875rem;
$fs-input:					0.75rem;
$fs-button:					0.875rem;

$lh-headline:				1.5rem;
$lh-title:					1.25rem;
$lh-subheading:			1rem;
$lh-body:						0.875rem;
$lh-caption:				0.875rem;
$lh-input:					0.875rem;
$lh-button:					0.875rem;