div.legal
		p.copyright &copy; 2017 Vision Wheel. All Rights Reserved.
		//- div.links
		//- 	a( href="#" ) Terms & Conditions
		//- 	span  and 
		//- 	a( href="#" ) Privacy Policy
		//- 	span  | 
		//- 	a( href="#" ) Sitemap