div.nav
	ul.links
		li.link
			a( href="/" ) Home
		li.link
			a( href="/products" ) Shop All Products
		li.link
			a( href="/locations" ) Warehouse Locations
		li.link
			a( href="/contact" ) Contact Us
		li.link
			a( href="/account" ) Manage / Edit Your Account