div.social
		span.caption Follow
		span.logo
		div.networks
			a.facebook( href="https://www.facebook.com/Visionwheel/" target="_blank" )
			a.instagram( href="https://www.instagram.com/visionwheelinc/" target="_blank" )
			a.youtube( href="https://www.youtube.com/channel/UCuUI5cjJr19W2tXSYEeGuaw" target="_blank" )