nav {
	background-color: $black;
	max-height: 100%;
	overflow: hidden;
	padding: 7rem 0 0 0;
	position: fixed;
	top: 0; left: 0;
	@include transform( translate3d( 0, -100%, 0 ) );
	@include transformTransition( 0.3s, ease-in-out, 0s );
	width: 100%;

	&.active {
		@include transform( translate3d( 0, 0, 0 ) );
	}
	.links {
		overflow-x: hidden;
		overflow-y: auto;
		width: 100%;
		.link, .expand, .section {
			font-size: 1rem;
			line-height: 2rem;
			margin: 0.5rem 0;
			width: 100%;
			a, span {
				cursor: pointer;
				padding: 0 2rem;
				color: $white;
				font-weight: 100;
				display: block;
				text-decoration: none;
				width: 100%;
			}
			@media( min-width: $tablet ) {
			}
			@media( min-width: $desktop ) {
				
			}
		}
		.expand {

			&.expand > span {
				background-color: $darkgrey;
				background-image: url("../images/generic/PlusSign-01.svg");
				background-repeat: no-repeat;
			    background-size: 0.8em;
			    background-position: 96% center;
			    &:hover {
					background-image: url("../images/generic/PlusSign_Hover-01.svg");
				}
			}
			&.expand.active > span {
				background-image: url("../images/generic/CollaspedSign-01.svg");
				&:hover {
					background-image: url("../images/generic/CollaspedSign_Hover-01.svg");
				}
			}
			.expandable {
				padding-left: 2rem;
				overflow: hidden;
				height : 0px;
				&.active {
					height : inherit;
				}
			}
		}
	}
	.section span {
		background-image: url("../images/generic/MENU_arrow_right-RED-01.svg");
		background-repeat: no-repeat;
	    background-size: 0.8em;
	    background-position: 96% center;
	}
	.sectionable {
		display: none;
		padding: 7rem 0 0 0;
		position: absolute;
		top: 0;
		width: 100%;
		background-color: $black;
		line-height: 2rem;
		font-size: 1rem;
		&.active {
			display: block;
		}
		p, a, span {
			margin: 0.5rem 0;
			cursor: pointer;
			color: $white;
			font-weight: 100;
			display: block;
			text-decoration: none;
			width: 100%;
		}
		p.back {
			padding: 0 2rem;
			position: relative;
		    &:before {
		    	content: "";
			    background-image: url("../images/generic/MENU_arrow_right-RED-01.svg");
			    background-repeat: no-repeat;
			    background-size: 0.8em;
			    width: 0.8em;
			    height: 0.8em;
			    display: block;
			    position: absolute;
			    top: 0.5em;
			    -moz-transform: scaleX(-1);
			    -o-transform: scaleX(-1);
			    -webkit-transform: scaleX(-1);
			    transform: scaleX(-1);
			    filter: FlipH;
			    -ms-filter: "FlipH";
			    left: 0.7em;
		    }
		}
		span {
			padding: 0 2rem;
			background-color: $darkgrey;
		}
		ul {
			padding-left: 1rem;
			li {
				padding: 0 2rem;
				font-size: 1rem;
				line-height: 2rem;
				margin: 0.5rem 0;
				width: 100%;
			}
		}
	}
	@media( min-width: $tablet ) {
		left: calc( 8.33% - 2rem );
		width: 20rem;
	}
	@media( min-width: $desktop ) {
		
	}
}