@import "./partials/variables";
@import "./partials/typography";
@import "./partials/mixins";
@import "./components/reset";
@import "./components/wrapper";
@import "./components/header";
@import "./components/nav";
@import "./components/footer";
@import "./components/overlay";
#accessories {
	padding: 0 0 3rem 0;
	width: 100%;

	.hero {
		@include hero();
	}
	&.caps {

		.hero {
			background-image: url( "/img/accessories/caps.jpg" );
		}
	}
	&.hub-covers {

		.hero {
			background-image: url( "/img/accessories/hub-covers.jpg" );
		}
	}
	&.installation-kits-and-washers {

		.hero {
			background-image: url( "/img/accessories/installation-kits-and-washers.jpg" );
		}
	}
	&.lug-nuts-and-locks {

		.hero {
			background-image: url( "/img/accessories/lug-nuts-and-locks.jpg" );
		}
	}
	&.rallye {

		.hero {
			background-image: url( "/img/accessories/rallye.jpg" );
		}
	}
	&.rings {

		.hero {
			background-image: url( "/img/accessories/rings.jpg" );
		}
	}
	&.valve-stems-and-spacers {

		.hero {
			background-image: url( "/img/accessories/valve-stems-and-spacers.jpg" );
		}
	}
}
.filter-cta {
	@include filter-cta();
}
.filter {
	@include filter();
}
.sections {
	margin: 3rem auto 0 auto;
	max-width: $mw-large;
	padding: 0 1rem;
	width: 100%;

	.products {
		margin: 3rem 0 0 0;
		width: 100%;

		.subheading {
			font-family: $ff-rubik-medium;
			font-size: $fs-subheading;
			line-height: $lh-subheading;
			margin: 0 0 1rem 0;
			text-transform: uppercase;
			width: 100%;
		}
		.list {
			width: 100%;

			&.grid {
				@include grid();
			}
			&.horizontal-scroll {
				@include horizontal-scroll();
			}
		}
		&:first-child {
			margin: 0 0 0 0;
		}
	}
}