@import "./partials/variables";
@import "./partials/typography";
@import "./partials/mixins";
@import "./components/reset";
@import "./components/wrapper";
@import "./components/header";
@import "./components/nav";
@import "./components/footer";
@import "./components/overlay";
#search {
	margin: 0 auto;
	max-width: $mw-large;
	padding: 3rem 1rem;
	width: 100%;
}
.headline {
	@include f-headline();
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
.underline {
	@include underline();
	margin: 3rem 0 1rem 0;
}
.cta {
	@include f-title();
	display: block;
	margin: 0 0 1rem;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
.forms {
	width: 100%;

	.form-types {
		margin: 0 0 3rem 0;
		overflow: hidden;
		width: 100%;

		.type {
			color: $grey;
			cursor: pointer;
			float: left;
			font-size: 0.675rem;
			line-height: 1rem;
			text-align: center;
			text-transform: uppercase;
			width: 33.33%;

			&:nth-child( 2 ) {
				border-left: 2px solid $lightgrey;
				border-right: 2px solid $lightgrey;
			}
			&:hover {
				color: $red;
			}
			&.toggle {
				color: $red;
				text-decoration: underline;
			}
		}
	}
	.list {
		width: 100%;

		form {
			display: none;
			width: 100%;

			.type {
				display: none;
			}
			.fields {
				width: 100%;

				.field {
					margin: 0 0 1rem 0;
					position: relative;
					width: 100%;

					select {
						display: none;
					}
					.ui-selectmenu-button {
						@include f-body-2();
						background-color: $white;
						border: 2px solid $grey;
						color: $black;
						cursor: pointer;
						display: block;
						height: 2.75rem;
						line-height: 2.75rem;
						outline: none;
						padding: 0 1rem;
						text-transform: uppercase;
						width: 100%;

						.ui-selectmenu-text {
          		@include caret( "red" );
							height: 100%;
							margin: 0 0 0 0;
							position: relative;

							&:after {
								position: absolute;
								top: 50%; right: 0;
								@include transform( translate3d( 0, -50%, 0 ) );
							}
						}
						&.ui-selectmenu-button-open {

							.ui-selectmenu-text {

								&:after {
									@include transform( rotate( 90deg ) );
								}
							}
						}
					}
					.ui-selectmenu-menu {
						@include f-body-2();
						background-color: $white;
						border-bottom: 2px solid $grey;
						border-left: 2px solid $grey;
						border-right: 2px solid $grey;
						color: $black;
						cursor: pointer;
						max-height: 16rem;
						overflow: auto;
						width: 100%;
						z-index: 1;

						.ui-menu {
							width: 100% !important;

							.ui-menu-item {
								width: 100%;

								.ui-menu-item-wrapper {
									width: 100%;

									.copy {
										background-color: $white;
										color: $black;
										display: block;
										padding: 1rem;
										text-transform: uppercase;
										width: 100%;
									}
								}
								&.ui-state-disabled {
									display: none;
								}
							}
						}
					}
					&:last-child {
						margin: 0 0 0 0;
					}
				}
			}
			.buttons {
				margin: 3rem 0 0 0;
				overflow: hidden;
				width: 100%;

				.submit {
					@include f-button();
					float: left;
					width: 65.5%;

					@media( min-width: $tablet ) {

					}
					@media( min-width: $desktop ) {
						display: inline-block;
						float: none;
						width: 33.33%;
					}
				}
				.reset {
					@include f-button();
					float: left;
					margin: 0 0 0 2%;
					width: 32.5%;

					@media( min-width: $tablet ) {

					}
					@media( min-width: $desktop ) {
						display: inline-block;
						float: none;
						margin: 0 0 0 1rem;
						width: 33.33%;
					}
				}
			}
			&.toggle {
				display: block;
			}
		}
	}
}
.results {
	padding: 2rem 0 0 0;
	width: 100%;

	.list {
		width: 100%;

		.product {
			margin: 3rem 0 0 0;
			width: 100%;

			.thumbnail {
				display: block;
				max-width: 8rem;
				width: 33.33%;
			}
			.subheading {
				font-family: $ff-rubik-medium;
				font-size: $fs-subheading;
				line-height: $lh-subheading;
				margin: 0.5rem 0 1rem 0;
				text-transform: uppercase;
				width: 100%;
			}
			.table {
				@include table();
			}
			&:first-child {
				margin: 0 0 0 0;
			}
		}
	}
}