doctype html
html
	head
		include ./components/analytics/head
		meta( charset="UTF-8" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" )
		title Vision Wheel | Dealers
		meta( name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" )
		link( href="/css/login.css" rel="stylesheet" type="text/css" )
	body
		include ./components/analytics/body
		div#wrapper
			header
				a( href="/" )
					span.logo
			div#main
				div#login
					h1.headline Forgot Password
					- var classes = error?["error"] : []
					if error
						h2.error Couldnt find a user with that email. Please enter the email associated with your account.
					if success
						h2 Thank you! Please check your email for next steps.
					form( method="POST" action="/forgot-password" class=classes )
						div.fields
							input.field( name="email" type="text" placeholder="Please enter your email address" )
						input.submit( value="Submit" type="submit" )
			div#overlay
			footer
				include ./components/footer/social
				include ./components/footer/legal
		script( src="/js/login.js" )