doctype html
html
	head
		include ./components/analytics/head
		meta( charset="UTF-8" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" )
		title Vision Wheel | Dealers
		meta( name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" )
		each style in styles
			link( href=style rel="stylesheet" type="text/css" )
	body
		include ./components/analytics/body
		div#wrapper
			header
				a( href="/" )
					span.logo
			div#main
				div#login
					h1.headline Dealer Login
					- var classes = error ? ["has-error"] : []
					if error
						h2.error There was a problem with your username and/or password.
					form( method="POST" action="/login" class=classes )
						div.fields
							input.field( name="email" type="text" placeholder="Email" )
							input.field( name="password" type="password" placeholder="Password" )
						div.links
							a.link.forgot-password( href="/forgot-password" ) Forgot password
							a.link.signup( href="/signup" ) Create an account
						input.submit( value="Submit" type="submit" )
			div#overlay
			footer
				include ./components/footer/social
				include ./components/footer/legal
		script( src="/js/login.js" )