doctype html
html
	head
		meta( charset="UTF-8" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" )
		title Vision Wheel | Dealers
		meta( name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" )
		link( href="/css/login.css" rel="stylesheet" type="text/css" )
	body
		div#wrapper
			header.primary
				div.menu
					span.logo
			div#main
				div#login
					h1.headline Reset Password
					- var classes = error?["error"] : []
					if error
						h2.error=error
					if success
						.alert
							h2="Password Reset!"
							a(href="/") Login
					form( method="POST" action="/reset-password/"+action, class=classes )
						div.fields
							input.field( name="password" type="password" placeholder="Please enter new password" )
							input.field( name="confirm" type="password" placeholder="Please confirm new password" )
						input.submit( value="Submit" type="submit" )
			footer
				include ./components/footer/social
				include ./components/footer/legal